@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-nunito-sans: 'Nunito Sans', system-ui, sans-serif;
}

body {
  background-color: #F7F8FC;
  color: #333333;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
